.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  margin-top: 10px;
}

.heading {
  position: absolute;
  left: 10px;
}

.connect {
  font-size: 18px;
  border: 1px solid #000;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 15px;
}

.menu {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  padding: 2px 10px;
  text-decoration: underline;
  cursor: pointer;
  color: #000;

  @media (max-width: 900px) {
    display: none;
  }
}

.active {
  font-weight: bolder;
}

.controls {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;

  @media (max-width: 900px) {
    display: none;
  }
}

.tracking {
  font-size: 18px;
  border: 1px solid #000;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.start {
  background-color: #fff;
  color: #000;
}

.stop {
  background-color: #000;
  color: #fff;
}
