.fieldWrapper {
  display: block;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.fieldWrapper span {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.fieldWrapper input {
  height: 30px;
  width: 100%;
}

.fieldWrapper input::placeholder {
  padding: 0 5px;
}

.fieldWrapper .error {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(155, 31, 31);
  height: 15px;
}
